.bannerContainer {
  margin: 2rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.planYourTripContainer {
  text-align: center;
}

.bannerHeader {
  margin: 0;
  font-weight: 500;
}

.orange {
  color: #ff5633;
}

.styledBannerImage {
  width: 50%;
  max-width: 892px;
  height: auto;
}

.blackLine {
  width: 10%;
  height: 2px;
  background-color: #000;
  margin: 1rem 0;
  align-self: center;
}

@media (max-width: 768px) {
  .bannerContainer {
    margin: 1.5rem;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .styledBannerImage {
    width: 90%;
  }

  .blackLine {
    width: 20%;
  }
}

@media (max-width: 480px) {
  .bannerContainer {
    margin: 1rem;
    gap: 2rem;
  }

  .styledBannerImage {
    width: 100%;
  }

  .blackLine {
    width: 30%;
  }
}
