.button {
  z-index: 10;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  color: white;
  border: unset;
  background-color: #ff5633;
  border-radius: 50px;
  width: 2.5rem;
  height: 2.5rem;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonHidden {
  display: none;
}

.button:hover {
  transform: scale(1.1);
}
