.navbarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 1.5rem;
}

.buttonContainer {
  display: flex;
  gap: 1rem;
}

.logoImage {
  width: 150px;
  height: auto;
}
