.styledButton {
  background-color: transparent;
  color: #000;
  padding: 0.3rem 0.6rem;
  border: 1.5px solid transparent;
  border-radius: 0.2rem;
  cursor: pointer;
  font-size: 22px;
  font-weight: 500;
  font-family: "Outfit", sans-serif;
  position: relative;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.styledButton::after {
  content: "";
  display: block;
  width: 30%;
  height: 2px;
  background-color: #000;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  transition: width 0.3s ease;
}

.styledButton:hover::after {
  width: 80%;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.1),
    #000,
    rgba(0, 0, 0, 0.1)
  );
}
